# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
android/.gradle/
android/local.properties
captures/

# iOS/macOS related
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# Web related
lib/generated_plugin_registrant.dart

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*

# Linux related
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*

# Firebase config (اختياري)
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist

# Keep assets
!assets/
